body:not(.wrongForm) {
	padding: 0;
	width: 100%;
}
body:not(.wrongForm) #entry_0 {
	position:absolute;
	left: 0;
	top: 0;
	height: 100%;
	max-width: 100%; /* cos theirs is 90% */
	width: 100%;
	z-index: 999;
	padding: 5px;
	resize: none;
	border: 0px none transparent; /* overkill much? */
	display:block;
}
